
# General
[Bb]in/
[Oo]bj/
.vscode/
.vs/
.config
/properties/publishprofiles
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.sln.ide
# Build results
*.dll
*.exe
*.app
*.so
*.dylib
*.log
*.pdbaa
*.cache
*.ilk
*.obj
*.nupkg
*.snupkg
*.symbols.nupkg
*.package
*.lib
*.mdb
*.db
*.log
*.tmp
*.bak
*.swp